.form {
	display: flex;
	flex-direction: column;
	> * {								//> Permite seleccionar componentes hijos dentro del form, 
		margin-bottom: $m-size;			//El * indica que se seleccionan todos
	}
}

.form__error {
	margin: 0 0 $m-size 0;
	font-style: italic;
}